<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>

    <title>Doodle Classifier</title>
</head>
<body>
    <div class="flex_container">
        <div id="canvasDiv"></div>
        <div id="resultsDiv"></div>
    </div>
    <button id="clearButton">Clear Canvas</button>
</body>
</html>

<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>

